{% extends "base.html" %}


{% block title %}
Home
{% endblock %}



{% block content %}


<div class="text-center">

<h1 class="display-4">
    Welcome to My DevOps Demo Website
</h1>


<p class="lead">
    A practical implementation of DevOps concepts using Django,
    Git, GitHub, and Continuous Integration.
</p>


</div>



<div class="row mt-5">


<div class="col-md-6">

<div class="card shadow p-4">

<h3>
Project Overview
</h3>


<p>
This project demonstrates how DevOps practices improve
software development through automation, version control,
and continuous integration.
</p>


</div>

</div>




<div class="col-md-6">

<div class="card shadow p-4">


<h3>
Technologies Used
</h3>


<ul>

<li>Django</li>

<li>HTML/CSS</li>

<li>Git</li>

<li>GitHub</li>

<li>GitHub Actions</li>

</ul>


</div>

</div>


</div>



<div class="card shadow mt-4 p-4">


<h3>
DevOps Workflow
</h3>


<p class="text-center">

Code Development →
Git →
GitHub →
GitHub Actions →
Automated Testing →
Successful Build

</p>


</div>


{% endblock %}
